<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        axios.interceptors.request.use(function (config) {
            // Do something before request is sent
            // console.log('请求前')
            // const token =localStorage.getItem('token')
            // config.headers.Authorization=`Bearer ${token}`
            return config;
        }, function (error) {
            // Do something with request error
            return Promise.reject(error);
        });

        // Add a response interceptor
        axios.interceptors.response.use(function (response) {
            // Any status code that lie within the range of 2xx cause this function to trigger
            // Do something with response data
            // console.log('请求后')
            console.log(response.headers)
            const {authorization}=response.headers
            console.log(authorization)
            authorization&&localStorage.setItem('token',authorization)
            // localStorage.setItem('zk',11111)
            return response;
        }, function (error) {
            // Any status codes that falls outside the range of 2xx cause this function to trigger
            // Do something with response error
            return Promise.reject(error);
        });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script>
      axios.post('/login', {
            username:'zk', password:'123'
        })
    </script>
  </body>
</html>
